<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <form action="">
        <ul>
            <1i>사용 시간: <input type="datetime" name="starttime" id="starttime"> ~ <input type="datetime" name="endtime" id="endtime"></1i>
            <1i>사용 목적: <input type="text" name="purpose" id="purpose"></1i>
            <1i>단체명: <input type="text" name="groupname" id="groupname"></1i>
            <1i>대표자 이름: <input type="text" name="charge" id="charge"></1i>
            <1i>참여자 명단: <textarea name="users" id="users" cols="30" rows="10">홍길동, 경영학과</textarea></1i>
            <input type="submit" value="제출" onclick='alert("예약이 완료되었습니다. <br> 예약된 시간은" + starttime + "~" + endtime + "입니다. <br> 그린나래 비밀번호는 " + password + "입니다.");'><input type="reset" value="초기화">
        </ul>
        
    </form>
   
</body>

</html>

</html>