<html lang="UTF-8">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=q, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>사물함 예약 페이지</title>
</head>

<body>
    <div class="site-body">
        <div class="container">
            <div class="panel panel-info" style="max-width:700px;margin:45px auto;">
                <div class="panel-heading">
                    <h3 class="panel-title">2019-1학기 사물함 사용안내</h3>
                </div>
                <div class="panel-body">
                    <p>2019년 1학기 경영대학 사물함 사용기간은 3월 8일 (금) ~ 1학기 종강일 입니다.<br />
                        <br /> 3월 8일 (금)까지 기존 이용자들은 자진 철거를 해주시기 바랍니다..<br /> 자진 철거하지 않은 사물함 내 물품들은 보관하지 않고 즉시 폐기 처분할 예정이니 꼭 철거해 주세요!<br />
                        <br /> 경영대학 사물함은 사이버관 4층과 5층에 있습니다.<br />
                    </p>
                </div>
            </div>

            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="floor4" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">사이버관 4층</a>
                    <a class="nav-item nav-link" id="floor5" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">사이버관 5층</a>

                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-floor4" role="tabpanel" aria-labelledby="nav-home-tab">

                </div>
                <div class="tab-pane fade" id="nav-floor5" role="tabpanel" aria-labelledby="nav-profile-tab">

                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>